
* { margin: 0; padding: 0; font-family: 'Agency FB',
    Arial, Helvetica, sans-serif ; 
}
a { text-decoration: none; }
ul { list-style-type: none; }
h2 { font-size: 4rem; }
p { font-size: 1.25rem; }
.wrapper{
    width: 1200px;
    margin: auto;
}
#header{
    background: rgb(111, 111, 111) url(../image/banner.jpg)center center;
    background-size: cover; height: 700px; background-blend-mode:multiply;
}
#header i{
    display: none;
}
nav{
    padding: 30px; 
}
#header h1{
    float: left; 
    font-size: 2.50rem;
    color: white;
    margin: 6px 0px 10px 6px;
}
nav ul{
    float: right;
    margin: -9px -2px 0px 0px;
}
nav ul li{
    float: left; 
    margin: 0 15px;
    font-weight: bold;
}
.wrapper span{
    color: #ee294c;
}
nav a{
    color: white;
}
nav a:hover:not(nav li:last-child a){
    border-bottom: 5px solid #ee294c;
    transition: all 0.3s ease-in-out 0s;
}
nav li:last-child a{
    color: #ffffff;
    padding: 12px 25px;
    background-color: #ee294c;
    border-radius: 20px;
    margin-left: 5px;
}
#caption{
    text-align: center; 
    color: white; 
    margin: 140px;
}
#caption h6{
    font-size: 4rem;   
}
#caption span{
    color: #ee294c;
    text-transform: uppercase;
}
#cation p {
    margin: 60px 0; 
    font-size: 1.75rem; 
}
#caption a{
    display: inline-block;
    font-size: 1.50rem;
    color:white;
    padding: 12px 22px;
    border: 3px solid #ee294c ;
    border-radius: 30px;
    margin: 50px 0px 0px 0px ;
}
#caption a:hover{
    background-color: #ee294dfa;
    transition: 0.7s;
}
#speakers {
    text-align:center;
    overflow: hidden;
}
#speakers hr, #schedule hr , #venu hr, #newsletter hr, #tickets hr, #contact hr{
    background-color: #ee294c;
    height: 5px;
    width: 200px;
    margin: 35px auto;
}
.list{
    display:inline-block;
    font-size: 1.50rem; 
    padding: 10px 50px; 
    border: solid 5px #ee294c; 
    border-radius:30px;
}
.list a{
    color: #201e1e;
}
.list{
   margin: 2% 6%;
}

#speakers div>div>div {
    width: 370px ;
    float: left;
    margin: 15px ; 
}
#schedule{
    text-align:center;
    overflow: hidden;
}
#schedule .program { 
    border-bottom: solid 1px #000;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.program span {
    display: block; 
    float: left; 
    width: 100px; 
    height: 100px; 
    text-align: center; 
    line-height: 100px; 
}
.program img { 
    float: left; 
    border-radius: 50%; 
    margin: 0 10px; 
}
.info { 
    float: left; 
    text-align: left; 
}
#venu{
    text-align:center;
    overflow: hidden;
}
#venu div>div>div {
    width: 370px;
    float: left;
    margin: 15px ;
}
.Event h2{
    padding: 20px 0;
}
.seemore{
    display:inline-block; 
    font-size: 1.75rem; 
    padding: 10px 40px; 
    border: solid 5px #ee294c; 
    border-radius:30px ;
    margin: 4%;
}
.seemore a{
    color: #000;
   font-weight: bold;
}
.seemore:hover{
    background-color: #ee294c;
    transition: 0.7s;
}
#newsletter{
    text-align:center;
    overflow: hidden;
}
#newsletter{
    background: url(../image/subscribe-Banner.png) center center;
    background-size: cover;
    height: 450px;
    background-blend-mode: multiply;
}
.news{
    width: 1200px; margin: auto;    color: #ffffff;
    margin: 0% 0% 0% 0%;
}
.content{
   padding-top: 8%;
}
.subscribe{
    padding: 25px 30px ;
}
#form input{
    padding:  11px 70px;
}
#form a{
    padding: 15px 34px;
    background-color: #ee294c;
    color: #ffffff;
    border-radius: 10px;
}
/* #from label a{
    color: #ffffff;
} */
#tickets{
    text-align:center;
    overflow: hidden;
}
#tickets ul
{
    text-align: left;
}
.price{
    width: 250px;
    padding: 30px 22px;
    margin: 0 15px;
}
.price hr{
    width: 250px;
    height: 2px;
    background-color: #343333;
    margin: 20px 17px 20px 0px ;
}

.card div{
    float: left;
    margin: 25px 0px 50px 85px;
}
.card{
    margin: 35px 0; 
}
.card p{
    padding: 2% 0;
}
.price h6{
    font-size: 1.90rem;
}
.price ul li{
    padding: 10px 0;
    list-style: disc;
}
.price a{
    padding: 12px 30px;
    border: 1px solid #ee294c;
    border-radius: 20px;
}
.price ul{
    float: left;
    padding: 0px 0px 23px 57px;
}
.price:hover{
    transition: 0.7s;
    box-shadow: 0 0 13px black;
}
.price a{
    color: #000;
}
.icon hr{
    height: 5px;
    width: 100px;
    background-color: #ee294c;
    margin: auto;
}
#contact{
    text-align:center;
    overflow: hidden;
}
.icon p{
    padding: 20px 0 ;
    
}
.icon div {
    float: left;
    margin: auto;
}
.fonticon i{
    color: #ee294c;
    font-size: 2.50rem;
    padding: 10px 0;

}
.fonticon{
    padding: 0px 0px 0px 87px;
}
.contenticon{
    padding: 50px 0px 0px 78px;
}
#contact{
    padding: 3% 0;
}
#footer{
    height: 400px;
    background-color: #0d111b;
}
.the h4 {
    font-size: 2.80rem;
    color: #ffffff;  
    margin: -11px 0px 12px 0px; 
}
.the span{
    color: #ee294c;
}
.the p{
    color: #ffffff;
    font-size: 1rem;
    padding: 5px 0;   
}
#footer{
  
    overflow: hidden;
}
footer div>div{
    float: left;
}
.footer div{
    margin: auto;
}
.useful h4{
    color:#ffffff;
} 
.useful ul{
    color: #ffffff;
    padding: 15px;
}
.contact h4{
    color: #ffffff;
}
.contact p{
    color: #ffffff;
}
footer{
    padding: 50px 0px 0px 100px ;
}
.footerlist{
    margin:28px 0px 0px 20px;
}
.useful{
    padding:0px 182px 0px 176px ;
}
/* .contact{
    padding:0px 0px 0px 157px ;
} */
.contact i{
    font-size: 35px;
    color: #ffffff;
    padding: 0px 15px 0px 0px ;
}
.useful ul li{
    padding: 10px 0;

}
.useful i{
    padding: 0px 20px 0px 0px ;
    color: #ee294c;    
}
.useful h4{
    color: #ee294c;
    padding: 0px 0px 10px 0px;
}
.contact p{
    padding: 10px 0px 15px 0px ;
}
.contact h4{
    color: #ee294c;
    padding: 0px 0px 10px 0px;
}

.contact i:hover{
    color: #ee294c;
}
.contact ul {
    display: flex;
}





 